---
import Layout from "../../layouts/Layout.astro"
import Container from "../../components/container.astro"

---

<Layout>
    <Container>
        <h1>Ventanas de Aluminio</h1>
        <p></p>
        <section>
            <h2>Practicables</h2>
            <img src="" alt="">
        </section>
    </Container>
</Layout>